In [2]:
import pandas as pd
import numpy as np

In [3]:
raw00 = pd.read_csv('lv2-2406.csv')
raw00.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 16 columns):
PRD_ID    8124 non-null int64
CLASS     8124 non-null object
PART00    8124 non-null object
PART01    8124 non-null object
PART02    8124 non-null object
PART03    8124 non-null object
PART04    8124 non-null object
PART05    8124 non-null object
PART06    8124 non-null object
PART07    8124 non-null object
PART08    8124 non-null object
PART09    8124 non-null object
PART10    8124 non-null object
PART11    8124 non-null object
PART12    8124 non-null object
PART13    8124 non-null object
dtypes: int64(1), object(15)
memory usage: 1015.6+ KB

# 1

In [4]:
df210 = raw00.copy()

1-1

In [5]:
from math import log2

list_ent = []
for col in ['PART02','PART03','PART04','PART05','PART06']:
    e01 = 0
    for i in ['A','B']:
        e00 = 0
        for j in ['G','B']:
            p00 = np.sum((df210[col]==i) & (df210['CLASS']==j))/np.sum(df210[col]==i)
            e00 = e00 - p00*log2(p00)
        e01 = e01 + (np.sum(df210[col]==i)/df210.shape[0])*e00    
    list_ent.append(e01)
list_ent

[0.8066884111112408,
 0.9849028696218441,
 0.8981847128758902,
 0.7689135217244143,
 0.9915511243027961]

1-2

In [6]:
res21 = np.min(list_ent) + np.max(list_ent)
ans21 = round(res21, 2)
print(res21)
print('ans1 : ', ans21)

1.7604646460272104
ans1 :  1.76

# 2

In [7]:
df220 = raw00.copy()

2-1

In [8]:
list_cols = ['PART00','PART01','PART07','PART08','PART09']
df_dum = pd.get_dummies(df220.loc[:, list_cols], drop_first=True)
df221 = pd.concat([df220['CLASS'], df_dum], axis=1)
list_dum = list(df_dum.columns)
df221

,CLASS,PART00_B,PART00_C,PART00_D,PART00_E,PART00_F,PART01_B,PART01_C,PART01_D,PART07_B,...,PART08_C,PART08_D,PART09_B,PART09_C,PART09_D,PART09_E,PART09_F,PART09_G,PART09_H,PART09_I
0,B,0,1,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
1,G,0,1,0,0,0,0,1,0,1,...,0,0,0,0,1,0,0,0,0,0
2,G,1,0,0,0,0,0,1,0,1,...,0,0,0,0,1,0,0,0,0,0
3,B,0,1,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,G,0,1,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,G,0,0,0,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
8120,G,0,1,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
8121,G,0,0,1,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
8122,B,0,0,0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
8123,G,0,1,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0

In [9]:
len(list_dum)

23

2-2

In [10]:
list_inf = []
for col in list_dum:
    pa0 = np.sum((df221[col]==0) & (df221['CLASS']=='G'))/np.sum(df221[col]==0)
    pa1 = np.sum((df221[col]==1) & (df221['CLASS']=='G'))/np.sum(df221[col]==1)
    val00 = np.max([pa0/(pa1+0.01), pa1/(pa0+0.01)])
    list_inf.append(val00)
list_inf

[1.7670108475445756,
 1.0329642634876064,
 1.0174238812457903,
 1.9116202453823739,
 51.822660098522164,
 1.1699090637885066,
 1.2026184913630944,
 51.822660098522164,
 1.8477425245990797,
 1.5826076186235998,
 1.014936846135177,
 2.057792045163024,
 3.4698541706180897,
 1.2637491223964425,
 9.992281327213679,
 1.914948429017146,
 1.9368449840305522,
 1.4965539906370071,
 1.828606129331592,
 4.032619061520795,
 54.706188247529894,
 51.95061728395061,
 52.02769535113749]

In [11]:
res22 = np.mean(np.sort(list_inf)[-10:])
ans22 = round(res22, 3)
print(res22)
print('ans2 : ', ans22)

28.381921266820846
ans2 :  28.382

# 3

In [12]:
df230 = raw00.copy()

3-1

In [13]:
list_cols = ['PART10','PART11','PART12','PART13']
df_dum = pd.get_dummies(df230.loc[:, list_cols], drop_first=True)
df231 = pd.concat([df230.loc[:, ['PRD_ID','CLASS']], df_dum], axis=1)
list_dum = list(df_dum.columns)
df231

,PRD_ID,CLASS,PART10_B,PART10_C,PART10_D,PART11_B,PART11_C,PART12_B,PART12_C,PART12_D,PART12_E,PART13_B,PART13_C,PART13_D,PART13_E,PART13_F
0,1,B,0,1,0,1,0,1,0,0,0,0,0,1,0,0
1,2,G,0,1,0,1,0,1,0,0,0,0,0,0,0,0
2,3,G,0,1,0,1,0,1,0,0,0,0,0,0,0,0
3,4,B,0,1,0,1,0,1,0,0,0,0,0,1,0,0
4,5,G,0,1,0,1,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,8120,G,1,0,0,1,0,1,0,0,0,0,1,0,0,0
8120,8121,G,0,0,0,1,0,1,0,0,0,0,0,0,0,1
8121,8122,G,1,0,0,1,0,1,0,0,0,0,1,0,0,0
8122,8123,B,0,1,0,1,0,0,1,0,0,0,0,0,0,1
8123,8124,G,1,0,0,1,0,1,0,0,0,0,1,0,0,0

In [14]:
len(list_dum)

14

3-2

In [15]:
train230 = df231[df231['PRD_ID']%5!=0].copy()
test230 = df231[df231['PRD_ID']%5==0].copy()
print(train230.shape, test230.shape)

(6500, 16) (1624, 16)

3-3

In [16]:
from sklearn.tree import DecisionTreeClassifier
DT00 = DecisionTreeClassifier(random_state=1234, max_depth=9)
DT00.fit(train230.loc[:, list_dum], train230['CLASS'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=9,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=1234, splitter='best')

3-4

In [17]:
srs_col = pd.Series(list_dum)
srs_imp = pd.Series(DT00.feature_importances_)
df_imp = pd.concat([srs_col, srs_imp], axis=1)
df_imp = df_imp.sort_values(1, ascending=False)
df_imp.columns = ['feat', 'imp']
df_imp.index = range(df_imp.shape[0])
df_imp

        feat       imp
0   PART12_B  0.385222
1   PART12_C  0.264631
2   PART13_F  0.220568
3   PART13_E  0.051145
4   PART11_B  0.039046
5   PART13_D  0.017205
6   PART10_C  0.009749
7   PART12_D  0.006353
8   PART10_D  0.005710
9   PART13_C  0.000371
10  PART10_B  0.000000
11  PART11_C  0.000000
12  PART12_E  0.000000
13  PART13_B  0.000000

3-5

In [18]:
list_acc = []
for i in [5, 10, 14]:
    DT01 = DecisionTreeClassifier(random_state=1234, max_depth=9)
    list_vars = list(df_imp.iloc[:i, 0])
    DT01.fit(train230.loc[:, list_vars], train230['CLASS'])
    arr_pred = DT01.predict(test230.loc[:, list_vars])
    arr_act = np.array(test230['CLASS'])
    acc00 = np.sum(arr_pred==arr_act)/arr_act.shape[0]
    list_acc.append(acc00)
res23 = np.mean(list_acc)
ans23 = round(res23, 3)
print(res23)
print('ans3 : ', ans23)

0.9020935960591133
ans3 :  0.902

# summary

In [19]:
print('ans1 : ', ans21)
print('ans2 : ', ans22)
print('ans3 : ', ans23)

ans1 :  1.76
ans2 :  28.382
ans3 :  0.902